/* Resetando estilos */
body,
h1,
form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #007bff;
    color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    margin-bottom: 10px;
    color: black;
}

/* Correção na definição dos estilos para os campos de texto */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type="submit"],
input[type="reset"] {
    width: 70%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 2px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
}

input[type="reset"] {
    background-color: #dc3545;
    color: #fff;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    opacity: 0.8;
}
button {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #495057;
}

